/*!------------------------------------------------------------------
[DiscoverLearn STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/


.tag-list-clear li a {
    display: block;
    background: rgba(1, 1, 1, 0);
    padding: 2px 5px;
    color: #ffffff;
}

.tag-list-clear li a:hover {
    background: rgba(1, 1, 1, .5);
    color: #ff6f00;
}

